body {
  background: #BCDEEF;
}
h1 {
  color: #F49AC1;
  font-family: "Lobster", cursive;
  font-size: 200px;
  text-align: center;
}
h2 {
  color: #F49AC1;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
#CAKES {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 150px;
  margin-top: -10;
}
