.topbanner {
    background: rgba(255, 153, 255, 0.3);
    padding-top: 10px;
    text-align: center;
    margin-top: -40px;
    display: block;
}
ul{
  padding: 10px;
}
li{
  display: inline;
  padding:200px 200px 200px 200px;
  text-align: center;
  font-size: 80px;
  color: pink;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}
.picture {
  background-position: center;
  text-align: center;
  background-size: cover;
  }

.top {
  background-color: rgb(188,222,239);
}
.words {
  background-position: center;
  text-align: center;
}
}
h1 {
  color: #ffb6c1;
  font-family: "monterey regular", cursive;
  font-size: 300px;
  text-align: center;
}
h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 200px;
}
#CAKES {
  font-family: "letter gothic bold", sans-serif;
  font-size: 150px;
  margin-top: -10;
  text-align: center;
}
#Est {
  font-family: "news gothic MT regular";
  text-align: center;
  font-size: 100px;
}

.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-size: cover;
  background-attachment: fixed;
}

div.container {
  margin: 5px;
   border: 1px solid #ccc;
   width: 180px;
}
div.row {
  margin: 5px;
  width: 5000px;
  text-align: center;
  font-size: 40px;
  background-color: rgb(188,222,239);
}
.desc{
  font-size: 100px;
  text-align: center;
}

#social-buttons {
  margin-top: 50px;
  text-align: center;

}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
  font-size: 100px;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
  font-size: 100px;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
  font-size: 100px;
}
#myCarousel{
  padding:0;
  bottom: 3px;
  position: bottom;
  right: 15%;
  left: 15%;
  z-index: 10;
  text-align: center;
}
.carousel-caption{
  padding:0;
  bottom: 3px;
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  text-align: center;
}
h3 {
  color: #ffb6c1;
  font-family: "monterey regular", cursive;
  font-size: 300px;
  text-align: center;
