html, body {
  height:100%;
  background: rgb(188, 222, 239);
  }

.topbanner {
    background: #68C5EA;
    padding-top: 5px;
    text-align: center;
    margin-top: -40px;
    display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 10px;
  line-height: 10px;
  }

.titlepicture{
background: rgb(188, 222, 239);
height:100%;
width:100%;
display: block;
    margin-left: auto;
    margin-right: auto;
    }
ul{
  padding: 20px;
color: rgb(244,154,193);
  background: rgb(244,154,193);
  }
li{
  display: inline;
  padding:40px 40px 40px 40px;
  text-align: center;
  font-size: 50px;
  font-family: "Dancing script", cursive;
  color: rgb(244,154,193);
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: pink;
}

.picture {
  background-position: center;
  text-align: center;
  background-size: cover;
    }

.words {
  background-position: center;
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 200px;
  color: #68C5EA;
}
h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #F49AC1;
}

.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-size: cover;
  background-attachment: fixed;
}
.Containercontact{
  color: rgb(244,154,193);
    font-size: 25px;
background: rgba(255, 255, 255, 0.6);
        width: 40%;
				margin: 0 auto;
				margin-top: 20px;
        margin-bottom: 100px;
				border-radius: 5px;
				padding: 20px 40px 20px 40px;
				text-align: left;
				line-height: 30px;
}
p{
  text-align: center;
    font-size: 40px;
}
div.container {
  margin: 60px;
   border: 5px solid #ccc;
   width: 180px;
      }
div.row {
  margin: 5px;
  width: 1200px;
  text-align: center;
  font-size: 40px;
}
.desc{
  font-size: 100px;
  text-align: center;
}

#social-buttons {
  margin-top: 50px;
  text-align: center;

}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
  font-size: 100px;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
  font-size: 100px;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
  font-size: 100px;
}
#myCarousel{
  padding:0;
  bottom: 3px;
  position: bottom;
  right: 15%;
  left: 15%;
  z-index: 10;
  text-align: center;
}
.carousel-caption{
  padding:0;
  bottom: 3px;
  position: absolute;
  right: 15%;
  left: 15%;
  z-index: 10;
  text-align: center;
}
h3 {
  color: #ffb6c1;
  font-family: "monterey regular", cursive;
  font-size: 300px;
  text-align: center;
